
      * {
        margin: 0px;
        padding: 0px;
      }
      body {
        /* background-color: rgb(29, 24, 82); */
        background-color: rgb(45, 67, 67);
        color: aliceblue;
      }
      #navbar {
        display: flex;
        background-color:rgb(23, 76, 97);
        height: 50px;
        position: relative;
        /* justify-content: center; */
        align-items: center;
        margin: 0px 0px;
        padding: 4px 10px;
        color: white;
      }
      #navbar h1{
        left: 10px;
        margin:0px 60px;
        font-size: 55px;
      }
      #navul{
        display: flex;
        margin: 15%;
        
      }
      #navul li{
        margin: 0px 10px;
        padding: 10px 20px;
        background-color:black ;
        border-radius: 7px;
        list-style: none;

      }
      #navul li a{
        text-decoration: none;
        font-size: 20px;
        color: aliceblue;

      }
      #navul li:hover{
        background-color:grey ;
      }
      .further {
        display: flex;
      }
      .after {
        
        box-shadow: 0 14px 28px rgba (0,0,0,0.25),0 10px 10px rgba (0,0,0,0.22);
        margin: 20px 55px;
        padding: 20px 20px;
        /* border: 2px solid yellow; */
      }
      .after h1,h4{
        display: block;
        text-shadow: 2px 2px 5px red;

      }

      
      #about {
        display: flex;
        height: 335px;
        
      }
      #about img {
        margin: 0px 120px;
        height: 320px;
        /* border: 2px solid black; */
        border-radius: 25%;
        box-shadow: 10px 10px 5px rgb(22, 37, 1);
      }
      #about p {
        padding: 30px 30px;
      }
      #skill{
        background-color: rgb(22, 51, 63);
        border: 6px solid rgb(23, 76, 97);
        border-radius: 15px; 
      }
      #project{
        background-color: rgb(22, 51, 63);
        border: 6px solid rgb(23, 76, 97);
        border-radius: 15px;
      }
      #resume{
        background-color: rgb(22, 51, 63);
        border: 6px solid rgb(23, 76, 97);
        border-radius: 15px;
      }
      #contact{
        background-color: rgb(22, 51, 63);
        border: 6px solid rgb(23, 76, 97);
        border-radius: 15px;
      }
      
      #skill ul {
        margin: 0px 15px;
        list-style: decimal;
        text-decoration: none;
      }
      .bar{
        background-color: black;
        display: block;
        height: 20px;
        width: 400px;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 14px 28px rgba (0,0,0,0.25),0 10px 10px rgba (0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      .bar span{
        height: 20px;
        /* width: 400px; */
        float: left;
        background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(256,103,103,1)100%);
      }
      .python{
        width:75%;
        animation: python 3s;
      }
      .html{
        width:92%;
        animation: python 3s;
      }
      .css{
        width:80%;
        animation: python 3s;
      }
      .word{
        width:78%;
        animation: python 3s;
      }
      .cplus{
        width:85%;
        animation: python 3s;
      }
      .oops{
        width:80%;
        animation: python 3s;
      }

      
      
      
      #skill ul li {
        padding: 6px 0px;
      }
      #k-e {
        display: flex;

      

      }
      #k-e img{
        border: 3px solid black;
        margin:auto;
        height: 260px;
      }
      #C-plus-plus {
        display: flex;
        flex-direction: row;

      }
      #C-plus-plus img{
        border: 3px solid black;
        margin:auto;
        height: 160px;
      }

      #footer{
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
      }

      
      #resume a {
        color: rgb(227, 41, 41);
        font-size: 25px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
      }
      #contact ul{
        align-items: center;
        font-size: 15px;

      }
      #contact ul li{
        padding: 4px 0px;
        list-style: none;
        text-decoration: none;
      }
      #contact ul img{
        padding: 0px 20px;
        height: 20px;
        
      }
      .right{
        margin: 80px 60px;
      }
      .right h1{
        font-size: 55px;
      }
      .right h2{
        font-size: 30px;
      }

  